<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Minimalist API to run your crypto">
  <meta name="keywords" content="crypto, Mint, coin, kommitters, kommit">
  <meta name="author" content="kommitters Open-Source">
  <meta property="og:title" content="Mintacoin - API" />
  <meta property="og:description" content="Minimalist API to run your crypto" />
  <meta property="og:url" content="https://www.mintacoin.co/" />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="en_US" />
  <title>Mintacoin</title>
</head>
<body>
  <div>
    <div>
      <h1>Welcome to Mintacoin</h1>
    </div>

    <div>
      <div class="block">
        <h2>Minimalist API to run your crypto</h2>

        <p style="margin-top: 0">Mintacoin is a minimalist and open-source API that abstracts the blockchain complexity by providing a simple and reliable infrastructure layer to mint your crypto assets and process payments with them.</p>
    </div>

    <!-- footer -->
    <div>
      <div>
        <a href="https://github.com/kommitters/mintacoin">Github</a>
      </div>
        <a target="_blank" href="https://docs.mintacoin.co/">
          <span class="">Read the docs</span>
        </a>
      </div>
      <span>&copy; 2022 <a href="https://github.com/kommitters">kommitters Open-Source</a></span>
    </div>
  </div>
</body>

</html>
